.grouping-devices {
    overflow: auto;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex: 1 1 auto;
    @import './list';
    .list {
        height: 65px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        .list {
            height: auto;
            display: block;
            .list__item {
                width: 100%;
            }
        }
        &__item {
            flex: 1 1 190px;
            width: 190px;
            display: inline-block;
            margin-left:  10px;
            margin-right:  10px;
            .list__item {
                margin-left: 0;
            }
            
        }
        .list-item {
            transition: color .3s ease-out;
            &__label {}
            &__arrow {}
            &:hover {
                .settings {
                    color: white;
                }
            }
            &__img {}
            &--parent {}
            &--parent+ul {}
            &--active {
                .list-item__arrow {}
                .settings {
                    color: white;
                }
            }
            &--active+ul {}
            &--child {}
        }
        .settings {
            .fa-cog {}
            position: absolute;
            right: 20px;
            color: #2781ca;
        }
        .fa-times {
            margin-right: 20px;
        }
    }
}


.panel-device-information-block {
    padding: 0 20px;

    h3 {
        font-weight: normal;
        font-size: 24px;
        margin: 20px 0 10px 0;
    }

    .panel-device-information {
        padding: 0;
        margin: 10px 0 30px 0;
        list-style: none;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        li {
            line-height: 1.5;
            color: #ddd;
        }
    }

    .panel-device-switches {
        display: flex;
        justify-content: space-around;

        .panel-device-block {
            text-align: center;
        }
    }

    .panel-device-information-buttons {
        display: flex;
        justify-content: space-around;
    }
}


.device-settings-form {
    height: 700px;
    display: flex;
    justify-content: center;

    .device-settings-fields {
        display: flex;
        width: 800px;
        justify-content: space-around;

        .device-settings-col {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 50px;
        
            .device-settings-block .device-settings-block__header {
                opacity: 0.5;
                font-size: 16px;
            }
        }
    }

    &__input-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 15px 0;
    }

    &__input {
        opacity: 0.9;
        width: 100%;
        padding: 14px 16px;
        font-size: 16px;
        box-sizing: border-box;
        font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
        border: none;
        border-radius: 2px;
        background-color: #353843;
        color: white;
    }
    &__input.thin-input {
        padding: 5px 16px;
        background-color: #202327;
        width: 200px;
        // font-size: 14px;
        // line-height: 18px;
    }
    &__input-label {
        width: 100%;
        margin-bottom: 5px;
        font-size: 13px;
        opacity: 0.8;
        margin-right: 15px;
        width: initial;
    }

    .hidden {
        display: none;
    }
}


.form__select {
    background: #353843 no-repeat scroll 200px center;
    border: 0;
    color: #EEE;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 46px;
    margin-right: 30px;
    outline: none;
    overflow: visible;
    position: relative;
    vertical-align: middle;
    width: 100%;
    -webkit-appearance: none;
    border: none;
    border-radius: 2px;

    &.thin-select {
        height: 30px;
        background-color: #202327;
        margin-right: 0;
        width: 200px;
        font-size: 14px;

        .selected, .fa-angle-down {
            line-height: 30px;
        }
        .selected.active::before {
            top: 9px;
        }
        .options-list {
            top: 15px;

            li {
                height: 27px;
                line-height: 27px;
            }
        }
    }
    .selected {
        line-height: 46px;
        padding: 0 20px;
        white-space: nowrap;
        overflow: hidden;
    }
    .fa-angle-down {
        line-height: 46px;
        padding: 0 10px;
        float: right;
        color: #1b5a8d;
    }
    .selected.active {
        background-color: #2781ca;
        background-image: none;
    }
    .selected.active::before {
        content: "";
        display: inline-block;
        width: 13px;
        position: absolute;
        left: 10px;
        top: 15px;
        height: 13px;
        background-size: 13px;
        z-index: 2;
    }
    .options-list {
        list-style: none;
        display: block;
        position: absolute;
        left: -40px;
        top: 30px;
        width: 100%;
        z-index: 1;

        li {
            border: 0;
            color: #EEE;
            background: #353843;
            font-size: 15px;
            padding: 2px 20px;
            height: 40px;
            line-height: 40px;
            white-space: nowrap;
            overflow: hidden;
        }
        li:hover {
            cursor: pointer;
            background-color: #2781ca;
        }
    }

    .options-list.hidden {
        display: none;
    }

}


