.remove-button { 
    background-color: #6ba7f1;
    width: 18px;
    height: 18px;
        font-size: 10px;
    border-radius: 10px;
    text-align: center;
    line-height: 18px;
    transition: all .2s ease-in;
    &:hover {
        color: #FF3E22;
        cursor: pointer;
    }
}