.room-layout {
    background: rgba(0, 0, 0, 0.2);
    flex: 1 1 auto;
    overflow: auto;
    &__map {
        background: #282E43;
        position: relative;
    }
}

.device-informer {
    border-radius: 50px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 65px;
    width: 65px;
    overflow: hidden;
    display: flex;
    &--bettery {
        top: 20px;
        left: 15px;
    }
    &--conditioner1 {
        top: 20px;
        left: 150px;
    }
    &--night-light1 {
        top: 160px;
        left: 180px;
    }
    &--active {
        width: 260px;
        .device-informer__content {
            visibility: visible;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
            border: solid 1px rgba(0, 0, 0, 0.2);
        }
    }
    &__content {
        visibility: hidden;
        width: 195px;
        position: absolute;
        left: 65px;
        display: flex;
        height: 65px;
        justify-content: space-between;
        .fa-cog {
            height: 65px;
            width: 65px;
            text-align: center;
            line-height: 65px;
            min-width: 65px;
            color: #3d9de3;
        }
    }
    &__text {
        margin: auto;
            font-size: 12px;
    }
    &__img-container {
        height: 65px;
        width: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    transition: all .4s ease;
    &:hover {
        background-color: rgba(0, 0, 0, 0.4);
        border: solid 1px #3d9de3;
        cursor: pointer;
    }
    &__img {
		max-height: 23px;
	}
}
