.list {
    .list {
        margin: 8px 0 0;
        overflow: hidden; 
        max-height: 1000px;
        transition: margin 0.1s ease;
        transition: max-height 0.4s ease;
        transition-property: max-height, margin;
        .list-item {
            height: 60px;
        }
    }
    
    margin: 15px 8px 0;
    list-style: none;
    padding: 0;
    &__item {
        position: relative;
        width: 100%;
        margin-bottom: 8px;
    }
    .list-item {
        height: 100%;
        height: 65px;
        border-radius: 3px;
        background-color: #302f3f;
        display: flex;
        align-items: center;
        transition: background-color .3s ease-out;
        &__label {
            margin-left: 16px;
            font-size: 13px;
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
        }
        &__arrow {
            margin-left: 18px;
            color: #1b5a8d;
            transition: transform 0.4s ease;
        }
        &:hover {
            cursor: pointer;
            background-color: #2781ca;
        }
        &__img {
            margin-right: 16px;
        }
        &--parent {}
        &--parent+ul {
            margin: 0;
            max-height: 0;
            overflow: hidden;
        }
        &--active {
            background-color: #2781ca;
            .list-item__arrow {
                transform: rotate(180deg);
            }
        }
        &--active+ul {
            max-height: 1000px;
            margin: 8px 0 0;
        }
        &--child {
            justify-content: space-between;
        }
    }
}