.infopanel {
    padding-bottom: 50px;
    .editable-widget__remove {
            display: none;
        }
    .cell {
       
            border-radius: 3px;
            
        &--type-1 { 
            background: rgba(0, 0, 0, 0.2);
            margin: 8px 8px 0;
        }
        &--type-2 { 
             background: rgba(0, 0, 0, 0.2);
            margin: 8px 8px 0;
            flex: 1 0 auto;
            height: 120px;
            &:nth-child(2) {
                margin-left: 0;
            }
        }
        &--type-3 { 
             background: rgba(0, 0, 0, 0.2);
            margin: 8px 4px 0 8px;
            flex: 1 0 0;
            height: 120px;
            &:nth-child(2) {
                margin: 8px 8px 0 4px;
            }
        }

        &--type-3 {
            background: rgba(0, 0, 0, 0.2);
            margin: 8px 4px 0 8px;
            flex: 1 0 0; 
            &:nth-child(2) {
                margin: 8px 8px 0 4px;
            }
        }

        &--type-4 {
            background: rgba(0, 0, 0, 0.2);
            margin: 8px 8px 0 4px;
            
            flex: 1 0 0; 
            &:first-child {
                margin: 8px 4px 0 8px;
            }
        }

        &--type-5 {
            background: rgba(0, 0, 0, 0.2);
            margin:0;
            margin-top: 8px;
            flex: 1 0 0;  

            &:first-child {
                margin: 0;
            }
        }

        &--type-4-container {
             //background: rgba(0, 0, 0, 0.2);
            flex: 1 0 0; 
            margin: 8px 8px 0 4px;
        }

        &__several-cell-container {
            display: flex;
        }
    }
    @import "./timeTime";
    @import "./weather";
    .unit {
        vertical-align: super;
        font-size: 6px;
    }
    .devices-power-consumption {
        display: flex;
        height: 100%;
        justify-content: space-around;
        &__labels {
            font-size: 12px;
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px 0px;
            width: 60px;
        }
        &__values {
            font-size: 24px;
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 20px 0px;
            span span {
                font-size: 12px;
            }
        }
    }
    .editable-widget--device {
        width: auto;
        margin: 0;
        background-color: transparent;
        &__label-content {
            padding: 0 25px;
        }
        &__power-state {
            padding: 0 25px;
        }
    }

    .editable-widget--info {
        background: transparent;
        height: 80px;
        width: auto;
        margin: 0;

        .editable-widget-info {
            justify-content: space-around;

            &__img {
                     margin : 0;  
            }

            &__meta {
                 margin-left: -30px;
            }
        }
    }
}