.room-layout {
    background: rgba(0, 0, 0, 0.2);
    flex: 1 1 auto;
    overflow: auto;
    &__map {
        background: #282E43;
        position: relative;
    }
}

.device-informer {
    border-radius: 50px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    height: 65px;
    width: 65px;
    overflow: visible;
    display: flex;
    &--bettery {
        top: 20px;
        left: 15px;
    }
    &--conditioner1 {
        top: 20px;
        left: 150px;
    }
    &--night-light1 {
        top: 160px;
        left: 180px;
    }
    &:hover,
    &--active {
        width: 260px;
        .device-informer__content {
            visibility: visible;
        }
        // &:hover {
        //     background-color: rgba(0, 0, 0, 0.2);
        //     border: solid 1px rgba(0, 0, 0, 0.2);
        // }
    }
    &--on {
        border: solid 1px #3d9de3;
    }
    &__content {
        visibility: hidden;
        width: 195px;
        position: absolute;
        left: 65px;
        display: flex;
        height: 65px;
        justify-content: space-between;
        .fa-cog {
            height: 65px;
            width: 65px;
            text-align: center;
            line-height: 65px;
            min-width: 65px;
            color: #3d9de3;
        }
        .fa-cog:hover {
            color: #3d70e3;
        }
    }
    &__text {
        margin: auto;
            font-size: 12px;
    }
    &__img-container {
        height: 65px;
        width: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    transition: width .4s ease, border .4s ease;
    &:hover {
        background-color: rgba(0, 0, 0, 0.4);
        border: solid 1px #3d9de3;
        cursor: pointer;
    }
    &__img {
        max-height: 23px;
    }
    &__remove {
        position: absolute;
        width: 18px;
        height: 18px;
        right: -6px;
        top: -6px;
    }
    // &__menu {
    //     display: none;
    //     &--active {
    //         display: flex;
    //         flex-direction: column;
    //     }
    // }
}

.panel-information-block {
    padding: 20px;

    form {
        padding: 0;
        margin: 10px 0 30px 0;
        list-style: none;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .input-label {
            font-size: 13px;
            font-weight: normal;
            margin-bottom: 10px;
        }
    }

    .panel-information-buttons {
        display: flex;
        justify-content: space-around;
    }
}