
.login-layout {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;

	.login-form {
		width: 320px;
		height: 420px;
		color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		&__header-label {
			font-size: 24px;
			font-weight: normal;
			margin-bottom: 35px;
		}
		&__input-container {
			width: 100%;
			height: 104px;
			display: flex;
			flex-direction: column;
		}
		&__input {
			opacity: 0.9;
			width: 100%;
			padding: 14px 16px;
			font-size: 16px;
			box-sizing: border-box;
			&:focus,
			&:active {
				outline: none;
			}
			font-family: 'Roboto Light',
			Arial,
			Helvetica,
			sans-serif;
			border: none;
			border-radius: 2px;
			background-color: #353843;
			color: white;
		}
		&__input-label {
			width: 100%;
			margin-bottom: 15px;
			font-size: 13px;
			opacity: 0.8;
		}
		&__input-error {
			font-size: 13px;
			color: red;
		}
		&__input-footer {
			font-size: 13px;
			display: flex;
			margin-top: 14px;
		}
		&__error-message {
			color: #ff1d25;
			flex-grow: 1;
		}
		&__link {
			cursor: pointer;
			flex-grow: 1;
			text-align: end;
			text-decoration: none;
			&:hover {
				text-decoration: none;
				color: #2781ca;
			}
		}
		&__button {
			font-size: 14px;
			width: 180px;
			text-align: center;
			margin-top:30px;

			&--last {
				margin-top:2px;
			}
		}
	}

	.login-form.register-form {
		height: 680px;
	}
	.form-required-asterisk {
		color: white;
	}

}

.success-layout {
	height: calc(100vh - 60px);
	margin: 0 10%;
}
