html {
  height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic');
body {
    width: 100%;
    //height: 100%;
    min-height: 100%;
    font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
}

.page {
    display: flex;
    height: 100%;
}

.page-layout {
    background: #435174 url('../../assets/img/background.jpg') top right no-repeat;
    background-attachment: fixed;
    background-size: cover;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    &__menu { 
        display: flex;
    }

    &__header {
        height: 60px;
        background-color: #2781ca;
    }
    &__content {
        width: 100%;
        display: flex;
        flex: 1 1 auto;
        min-height: calc(100vh - 60px);
    }
    &__panel {
        overflow-y: auto;
        min-width: 400px;
        width: 400px;
        flex: 1 1 auto;
        background: rgba(0,0,0,0); 
    }
}