.page-header {
    display: flex;
    align-items: center;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    &__companyname {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        margin-left: 45px;
	max-width:60px;
	max-height:60px;
        
    }
    justify-content: space-between;
    &__companyname {
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        margin-left: 45px;
        color: white;
    }
    &__profile {
        display: flex;
        margin-right: 20px;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        height: 100%;
        transition: background .3s ease;
        &:hover {
            background: rgba(0, 0, 0, 0.4);
            cursor: pointer;
        }
    }
    &__profile-menu-container {
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 1000;
        width: 282px;
    }
    &__profile-menu {
        background: white;
    }
    &__cog {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        .fa-cog {
            line-height: 30px;
        }
    }
    &__name {
        margin-left: 10px;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        //line-height: 30px;
    }
    &__avatar {
        border-radius: 50%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
    }
    &__arrow {
        margin-left: 10px;
        //line-height: 30px;
    }
}
