
html {
  height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=cyrillic');
body {
    width: 100%;
    //height: 100%;
    min-height: 100%;
    font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
}

@import (inline) "normalize.css";
@import (less) "page-layout";
@import (less) "page-header";
@import (less) "common/content";

hr {
    height: 1px;
    border: none;
    color: #45474d;
    background: #45474d;
    margin: 0;
}

.btn {
    height: 45px;
    width: 100%;
    border-radius: 8px;
    color: white;
    font-size: 14px;
    font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
    background: transparent;
    margin: 30px 8px 15px 15px;
    border: 2px solid #4e6a95;
    line-height: 1;
    text-align: center;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background-color: #4e6a95;
    }
    transition: all .3s ease-out;
    &:focus {
        outline: none;
    }
}
a.btn {
    line-height: 45px;
}

.btn[disabled] {
    color: #aaa;
    border-color: #777;
    &:hover {
        background-color: transparent;
    }
}




.form {
    &__header {
        height: 65px;
        display: flex;
        align-items: center;
        h3 {
            font-weight: 300;
            font-size: 14px;
            margin: 15px 15px;
        }
    }
    &__content {}
    &__input {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
    &__label {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
    }
    &__group {
        
        margin: 30px 15px 0 15px;
        height: 50px;
    }
    &__inline-groups {
        margin: 0 15px;
        &>.form__group {
            margin: 30px 8px 0 8px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__footer {
        display: flex;
    }
}


.panel-wrapper {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	color: white;

	h1, h2, h3, h4, h5, h6, a {
		color: white;
	}


	// .page-header {
	// 	.title {
	// 		padding: 0 10pt;
	// 	}
	// }
}

// .login-container {
// 	max-width: 256px;
// 	margin: 0 auto;

// 	h1 {text-align: center;}
// 	.links-container, .error {
// 		margin: 20px 0;
// 		text-align: center;
// 		font-size: 80%;
// 	}
// 	.error {
// 		color: red;
// 	}
// 	.submit-container {text-align: center;}
// }


// .success-layout {
// 	display: block;
// 	margin: 10%;
// 	color: #ccc;

// 	a {
// 		font-size: 100%;
// 	}
// }

// .panel-layout .page-layout__content {
// 	width: 100%;
// 	min-height: calc(90vh);
// 	display: flex;
// 	flex-flow: row;
// 	background: #435174;

// 	.panel-menu {
// 		height: 100%;
// 		display: flex;
// 		flex-flow: column;
// 		justify-content: center;
//     	align-items: center;
//     	min-height: 90vh;
//     	width: 165px;
//     	box-sizing: border-box;
// 		padding: 0 2em;
// 		background-color:rgba(0, 0, 0, 0.3);

// 		ul {
// 			margin: 0;
// 			padding: 0;
// 			display: flex;
// 			flex-flow: column;
// 			justify-content: center;

// 			li {
// 				display: block;

// 				a {
// 					line-height: 3;
// 				}
// 			}
// 		}
// 	}

	.panel-screen {
		// width: calc(100% - 165px);
		height: 100%;
		height: calc(100vh - 60px);
	}
	.v-split-container {
		display: flex;
		flex-flow: row;
		width: 100%;
		height: calc(100%);

		.left-side {
			flex-grow: 3;
		}
		.right-side {
			flex-grow: 1;
			background-color:rgba(0, 0, 0, 0.3);
			padding: 9pt;

			.leaf {
				background-color:rgba(0, 0, 0, 0.5);
				line-height: 3;
				margin: 0 0 3px 0;
				padding: 0 20px;
				font-size: 14px;
				cursor: pointer;
			}
		}
	}

	// .graph-container {
	// 	margin: 40px 0 0 0;
	// }
	// .graph-layout {
	// 	background: rgba(255, 255, 255, 0.8);
	// 	padding: 10px;
	// }

// }
