
.editable-widget-layout {
	width: 670px;
	max-height: 490px;
	margin-bottom: 10px;
	background: url('../../assets/img/edit-widget-background.jpg') top right no-repeat;
	//flex: 1;
	overflow-x: hidden;
	overflow-y: auto;


	&__category { 
		padding: 15px;
	}

	&__category-label {
		margin: 0;
		font-size: 16px;
		font-weight: 300;
		margin-bottom: 22px;
	}
	&__category-content {
		margin:  0 -16px;
	}
}

.editable-widget {
		background-color: rgba(0, 0, 0, 0.5);
		margin: 8px 0 16px 16px;
	&--info {
		height: 80px;
		width: 190px;
	}
	&--device {
		//height: 80px;
		width: 190px;
	}
	&__device {
		width: 100%;
		height: 100%;
	}
	&__info {
		width: 100%;
		height: 100%;
	}
	&__remove {
		position: absolute;
		width: 18px;
		height: 18px;
		right: -9px;
		top: -9px;
	}
}

.editable-widget-info {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	&__meta {
		display: flex;
		flex-direction: column;
		font-family: 'Roboto', Arial, Helvetica, sans-serif;
		margin-left: -70px;
	}
	&__value-content {}
	&__label {
		font-size: 12px;
		color: #96989e;
	}
	&__value {
		font-size: 24px;
	}
	&__unit {
		font-size: 12px;
		margin-left: 5px;
		&--thermometer {
			vertical-align: super;
		}
	}
	&__img {
		margin-left: -20px;
	}
}

.editable-widget-device {
	&__label-content {
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px;
	}
	&__label {
		font-size: 14px;
	}
	&__label-img {}
	hr {
		height: 1px;
		border: none;
		color: #45474d;
		background: #45474d;
		margin: 0;
	}
	&__power-state {
		height: 55px;
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.power-state {
			font-family: 'Roboto', Arial, Helvetica, sans-serif;
			font-size: 12px;
			color: #989a9f;
			margin: 0 6px;
			&--active {
				color: white;
			}
		}
	}
	&__additional-info {
		padding: 0 20px;
		height: 85px;
	}
    &__temperature-slider {
        padding: 0 20px;
        height: 85px;
    }

    &__camera-state {
        padding: 0 20px;
        height: 85px;
    }
}

.ui-widget.ui-widget-content {
	background: #4f80c6;
	border: none;
	height: 5px;
}

.ui-slider-horizontal .ui-slider-handle {
	height: 10px;
	border-radius: 10px;
	width: 10px;
	top: -3px;
	margin: 0;
}

.ui-slider-range-max {
	background: #909196;
}

.additional-info {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	height: 100%;
	position: relative;
	&__value {
		font-size: 24px;
	}
	&__unit {
		vertical-align: super;
	}
	&__value-container {
		color: #dd4248;
		left: ~'calc(50% - 22px)';
		position: absolute;
		top: 10px;
	}
	&__min {
		font-size: 12px;
		color: #9b9ca2;
		position: absolute;
		bottom: 35px;
	}
	&__max {
		font-size: 12px;
		color: #9b9ca2;
		position: absolute;
		bottom: 35px;
		right: 0;
	}
	&__slider {
		position: absolute;
		bottom: 27px;
		width: 150px;
	}
}

.camera-state {
    display: flex;
    flex-direction: column;
    height: 100%;
        justify-content: center;
    &__signal-container {
        margin: 5px 0;
    }

    &__state-img {
        margin-left: 15px;
    }

    &__state-name {
        color: #a1a2a6;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
}

@import "common/content-tabs";
@import "common/remove-button";
@import "common/switcher";
