
.content-tabs {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;

	&__title {
		margin: 10px;
		line-height: 21px;
	}
	&__tab, &__add{
		margin-top: 20px;
		background-color: #5d6b7d;
		border: solid 2px #5d6b7d;
		border-radius: 14px;
		height: 21px;
		padding: 0 10px;
		line-height: 21px;
		margin: 10px; 
		font-size: 13px;
		transition: border-color .5s ease-out; 
		&:hover {
			cursor: pointer;
			border: solid 2px #4f84ab;
		}
		&--active {
			border: solid 2px #4f84ab;
		}
	}
}