
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	transform: rotate(180deg); 
	height: 18px;
}

.switch input {display:none;}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #202128;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 1px;
	top: 1px; 
	background-color: #7f7f7f;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider:before {
	background-color: #5080c7;
}

input:focus + .slider {
	box-shadow: 0 0 1px #202128;
}

input:checked + .slider:before { 
	transform: translateX(22px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
