.content-tabs {
    margin: 0;
    &__tab {
        background-color: #5d6b7d;
        border: solid 2px #5d6b7d;
        border-radius: 14px;
        height: 21px;
        padding: 0 10px;
        line-height: 21px;
        margin: 0 10px;
        margin-top: 15px;
        font-size: 13px;
        transition: border-color .5s ease-out;
        &:hover {
            cursor: pointer;
            border: solid 2px #4f84ab;
        }
        &--active {
            border: solid 2px #4f84ab;
        }
    }
}