    .timeTime {
        height: 65px;
        display: flex;
        &__time {
            display: flex;
            justify-content: space-around;
            //padding: 0 22px;
            width: 160px;
            align-items: center;
            //flex: 2 2 auto;
            border-right: 1px solid #262935;
            .time {
                font-size: 24px;
                font-family: 'Roboto', Arial, Helvetica, sans-serif;
            }
            .fa-moon-o {
                color: #595b66;
                font-weight: bold;
            }
        }
        &__date {
            display: flex;
            flex: 2 2 auto;
            justify-content: center;
            align-items: center;
            .date {
                font-size: 14px;
                font-family: 'Roboto', Arial, Helvetica, sans-serif;
            }
        }
    }