.main-menu {
    padding: 0;
    margin: 0;
    width: 60px;
    background-color: #3a4354;
    flex: 1 1 auto;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    &__list-item {
        height: 40px;
        position: relative;
    }
    .list-item {
        line-height: 40px;
        width: 60px;
        height: 40px;
        overflow: hidden;
        color: white;
        position: absolute;
        display: inline-block;
        padding-left: 22px;
        transition: all .4s ease-out;
        &:hover {
            width: 100px;
            cursor: pointer;
            background: #343C4F;
            transform: scale(1.1);
            .list-item__text {
                opacity: 1;
                padding-right: 10px;
            }
        }
        &--home {
            &:hover {
                width: 74px;
            }
        }
        &--circle {
            &:hover {
                width: 72px;
            }
        }
        &--boxes {
            &:hover {
                width: 74px;
            }
        }
        &--share1 {
            &:hover {
                width: 80px;
            }
        }
        &--share2 {
            &:hover {
                width: 80px;
            }
        }
        &--boxes2 {
            &:hover {
                width: 82px;
            }
        }
        &__image {}
        &__text {
            font-size: 14px;
            padding-left: 10px;
            opacity: 0;
            transition: all .2s ease-out;
        }
    }
}