.page {
    display: flex;
    height: 100%;
}

.page-layout {
    background: url('../img/background.jpg')top right no-repeat;
     background-attachment:fixed;
     background-size: cover;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    &__menu { 
        display: flex;
    }

    &__header {
        height: 60px;
        background-color: #2781ca;
    }
    &__content {
        width: 100%;
        display: flex;
        flex: 1 1 auto;
    }
    &__panel {
        overflow-y: auto;
        min-width: 400px;
        width: 400px;
        flex: 1 1 auto;
        background: rgba(0,0,0,0.3); 
    }
}