.editable-widget-device {
    &__label-content {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    &__label {
        font-size: 14px;
    }
    &__label-img {}
   
    &__power-state {
        height: 55px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .power-state {
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #989a9f;
            &--active {
                color: white;
            }
        }
    }
    &__temperature-slider {
        padding: 0 20px;
        height: 85px;
    }

    &__camera-state {
        padding: 0 20px;
        height: 85px;
    }
}

.ui-widget.ui-widget-content {
        background: #4f80c6;
    border: none;
    height: 5px;
}

.ui-slider-horizontal .ui-slider-handle {
    height: 10px;
    border-radius: 10px;
    width: 10px;
    top: -3px;
    margin-left: -5px;    //margin: 0;
}

.ui-slider-range-max {
        background: #909196;
}