.editable-widget {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 8px 0 16px 16px;
    &--info {
        height: 80px;
        width: 190px;
    }
    &--device {
        //height: 80px;
        width: 190px;
    }
    &__device {
        width: 100%;
        height: 100%;
    }
    &__info {
        width: 100%;
        height: 100%;
    }
    &__remove {
        position: absolute;
        width: 18px;
        height: 18px;
        right: -9px;
        top: -9px;
    }
}