.grouping-devices {
    overflow: auto;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex: 1 1 auto;
    @import '../panels/edit-device-panel/list';
    .list {
            height: 65px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        .list {
            height: auto;
            display: block;
            .list__item {
                width: 100%;
            }
        }
        &__item {
                flex: 1 1 190px;
            width: 190px;
            display: inline-block;
            margin-left:  10px;
            margin-right:  10px;
            .list__item {
                margin-left: 0;
            }
            
        }
        .list-item {
            transition: color .3s ease-out;
            &__label {}
            &__arrow {}
            &:hover {
                .settings {
                    color: white;
                }
            }
            &__img {}
            &--parent {}
            &--parent+ul {}
            &--active {
                .list-item__arrow {}
                .settings {
                    color: white;
                }
            }
            &--active+ul {}
            &--child {}
        }
        .settings {
            .fa-cog {}
            position: absolute;
            right: 20px;
            color: #2781ca;
        }
        .fa-times {
            margin-right: 20px;
        }
    }
}