 @import "../common/form";
 @import "../common/switch";
 .editing-scripts-layout {
     margin-top: 40px;
     background: rgba(0, 0, 0, 0.2);
     display: flex;
     flex-wrap: wrap;
     //  height: auto;
     //  flex: 1 1 auto;
     //  flex-wrap: wrap;
     padding-bottom: 15px;
     .editing-script {
         width: 190px;
         margin: 15px 0 0 15px;
         .power-state {
             font-family: 'Roboto', Arial, Helvetica, sans-serif;
             font-size: 12px;
             color: #989a9f;
             &--active {
                 color: white;
             }
         }
         .form {
             background: #3a4250;
             border-radius: 3px;
             &__header {
                 padding: 0 20px;
                 justify-content: space-between;
                 height: 65px;
                 border-bottom: 1px solid #2c303a;
                 font-size: 14px;
                 color: #d7d8da;
                 h3 {}
             }
             &__header-label {}
             &__header-img {}
             &__content {
                 padding: 20px;
                 border-bottom: 1px solid #2c303a;
                 font-size: 12px;
                 color: #d7d9dc;
                 p {
                     margin: 0;
                 }
             }
             &__input {}
             &__label {}
             &__group {
                 margin: 20px 20px 0;
             }
             &__inline-groups {}
             &__footer {
                 height: 55px;
                 padding: 0 20px;
                 display: flex;
                 justify-content: space-between;
                 align-items: center;
             }
             &__role-title {
                 font-size: 13px;
                 color: #9598a2;
             }
             &__role-name {
                 font-size: 13px;
             }
         }
     }
 }
 
 .content {
     overflow: auto;
 }