@import "../../common/form";
.add-widget-panel {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    @import "../common/panel-tabs";
    &__new-widget-btn {
        position: absolute;
        left: 20px;
        bottom: 10px;
        // margin-left: 20px;
        height: 45px;
        border: 2px solid #4e6a95;
        width: 170px;
        color: white;
        background: transparent;
        border-radius: 8px;
        font-size: 14px;
        font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
        transition: all .3s ease-out;
        &:hover {
            cursor: pointer;
            background-color: #4e6a95;
        }
        &:focus {
            outline: none;
        }
    }
    @import "./edit-parametrs-form";
}