@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
.edit-parametrs-form {
    background: #31323e;
    margin: 0 10px; 
    box-sizing: border-box;
    margin-top: 15px;

    &__save-btn {
        
        margin: 30px 8px 15px 15px;
        border: 2px solid #4e6a95;
        &:hover {
            cursor: pointer;
            background-color: #4e6a95;

        }
    }

    &__delete-btn {
        
        margin: 30px 15px 15px 8px;
        border: 2px solid #862832;
        &:hover {
            cursor: pointer;
            background-color: #862832;

        }
    }

    &__btn {
        height: 45px;
        width: 100%; 
        background: transparent;
        border-radius: 8px;
        color: white;
        font-size: 14px;
        font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
        transition: all .3s ease-out;
        &:focus {
            outline: none;
        }
        &:hover {
            cursor: pointer;
                    //box-shadow: inset 2px 2px 40px 2px #4e6a95;

        }
    }
}