[uwsgi]
chdir           = /var/www/{{project_name}}/
module          = app:app
home            = /var/www/{{project_name}}/.venv
master          = true
processes       = 4
socket          = /run/{{project_name}}.sock
chmod-socket    = 666
vacuum          = true
